// Source: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

// makes all href=# (hash links) scroll smoothly
// :root {
// 	scroll-behavior: smooth;
// }

@mixin full-screen {
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}
