/** This is a test component
*
*
*/

.media-query-box {
	border: 1px dashed pink;
	// position: fixed;
	// bottom: 0;
	// width: 100vw;
	@include make-container();
}

.my-container {
	@extend .container-fluid;
}

.my-row {
	border: 2px solid brown;
	@extend .row;
}

.my-col-1 {
	@extend .col-sm-12;
	@extend .col-md-6;
	// @extend .col-lg-3;
	border: 1px solid black;
}

.my-col-2 {
	@extend .col-sm-12;
	@extend .col-md-6;
	// @extend .col-lg-6;
	border: 1px dashed black;
}
